.label {
    
    -fx-font-size: 20px;
    //-fx-background-color: rgba(255, 0, 0, 0.5);
    -fx-effect: dropshadow(gaussian, red, 50, 0, 0, 0);
    -fx-background-insets: 50;
}

.outline.label .text {
    
    -fx-fill: lightseagreen;
    -fx-stroke: firebrick;
    -fx-stroke-width: 2px;
    
}