
.tab-pane .tab-header-area .tab-header-background {
   -fx-background-color: null;
   -fx-border-color: transparent transparent grey transparent;
   
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab:right {
    -fx-background-color: -fx-tab-border-color, -fx-inner-border-bottomup, -fx-body-color-bottomup;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
}


